Django==1.11.10
psycopg2==2.5
pymongo==2.8
python-dateutil==2.1
raven==5.1.0
pytz
Unipath==1.0
django-taggit==0.16.2
redis==2.7.6
hiredis==0.1.4
django-redis-cache==0.13.0
PIL==1.1.7
pycrypto==2.4.1
python-magic==0.4.6
hexagonit.swfheader==1.2
uWSGI>=2,<3
requests
django-impersonate==0.9
pika==0.9.14
djangorestframework==3.6.2
djangorestframework-jwt==1.10.0
boto==2.38.0
unicodecsv==0.14.1

# sentry problem fix
pyopenssl
ndg-httpsclient
pyasn1

# debugging
ipdb
ipython==5.3
django-extensions
django-debug-toolbar
backports.shutil_get_terminal_size
pathlib2
scandir
